Cleaning of a dataset Tornados in the United States from 1950-2023

Dataset was found at - https://www.spc.noaa.gov/wcm/#data

In [65]:
#install requirements
# %pip install pipenv
# %pip install requests
# %pip install pandas
# %pip install numpy
# %pip install datetime

In [66]:
#import required packages
import pandas as pd
from datetime import datetime

In [67]:
# Load data from CSV file
df = pd.read_csv('1950-2023_all_tornadoes.csv')

In [68]:
#inspect the dataset
#df.head(3)
#df.tail(3)
#df.describe()
#df.columns
#df.info()

In [69]:
# Variables
# timestamp variable
timestamp = datetime.now().strftime("%Y%m%d-%H%M%S")

In [70]:
#rename column name
# Define the new column names
new_column_names = [
    "om", "year", "month", "day", "date", "time", "timezone", "state",
    "state_fips", "ytd-for-state", "ef-scale", "injuries", "fatatalies",
    "property_loss-millions", "crop_loss-millions", "start_latitude", "start_longitude",
    "end_latitude", "end_longitude", "track-length-in-miles", "width-in-yards",
    "number-of-states-in-track", "state-number-in-track", "segment-number",
    "1st-county-fips-code", "2nd-county-fips code", "3rd-county-fips-code",
    "4th-county-fips-code", "wind-only-reading"
]

# Rename the columns
df.columns = new_column_names

In [71]:
'''
*** Save the updated DataFrame back to a new CSV file (optional) ***

Note: I chose this name for the output file to avoid overwriting the original file and to not be
located near the original file in the same directory.

'''
# Uncomment the following lines to save the dataframe as a CSV file with a timestamp
# output_file_path = "tornado-data-columns-renamed-"+timestamp+".csv"

# Uncomment the following line to save the updated DataFrame to a CSV file without timestamp
output_file_path = "tornado-data-columns-renamed.csv"

# mode set to 'w' to overwrite the file if it exists
# Uncomment the following line to save the DataFrame to a CSV file
#df.to_csv(output_file_path, index=False, mode='w')

# Uncomment the following line to print the confirmation message
#print(f"Columns renamed and saved to {output_file_path}")

In [72]:
'''
Removed columns that were not relevant for this analysis.

'''
columns_to_remove = [
    "1st-county-fips-code", "2nd-county-fips code", 
    "3rd-county-fips-code", "4th-county-fips-code", 
    "wind-only-reading", "om", "state_fips", "ytd-for-state"
]

df = df.drop(columns=columns_to_remove)

In [73]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(df):
    # Replace all instances of -9 with -1 in column: 'ef-scale'
    df.loc[df['ef-scale'] == -9, 'ef-scale'] = -1
    
     # Remove rows with '-9' in 'segment-number'
    df = df[df['segment-number'] != -9]
    df = df[df['segment-number'] != 2]  
    
    return df

df = clean_data(df.copy())
#df.drop_duplicates(keep='first', inplace=False, ignore_index=False)
#df.head()

In [74]:
# inspect the final dataset, that will next be used for further analysis
df.head()
df.duplicated().sum()
df[df.duplicated(keep=False)]
#df.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=True)

,year,month,day,date,time,timezone,state,ef-scale,injuries,fatatalies,...,crop_loss-millions,start_latitude,start_longitude,end_latitude,end_longitude,track-length-in-miles,width-in-yards,number-of-states-in-track,state-number-in-track,segment-number
410,1951,7,15,1951-07-15,16:20:00,3,OK,0,0,0,...,0.0,34.8000,-94.8000,0.0000,0.0000,0.10,100,1,1,1
411,1951,7,15,1951-07-15,16:20:00,3,OK,0,0,0,...,0.0,34.8000,-94.8000,0.0000,0.0000,0.10,100,1,1,1
434,1951,8,13,1951-08-13,02:30:00,3,KS,1,0,0,...,0.0,38.2300,-97.7700,0.0000,0.0000,0.10,10,1,1,1
435,1951,8,13,1951-08-13,02:30:00,3,KS,1,0,0,...,0.0,38.2300,-97.7700,0.0000,0.0000,0.10,10,1,1,1
566,1952,4,20,1952-04-20,16:00:00,3,OK,0,0,0,...,0.0,34.6700,-99.5000,0.0000,0.0000,1.50,440,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59834,2014,6,8,2014-06-08,13:43:00,3,CO,0,0,0,...,0.0,39.5500,-104.3200,39.5500,-104.3200,0.10,50,1,1,1
60902,2015,6,20,2015-06-20,18:32:00,3,IA,1,0,0,...,0.0,40.8123,-91.2844,40.7783,-91.2494,2.92,50,1,1,1
60903,2015,6,20,2015-06-20,18:32:00,3,IA,1,0,0,...,0.0,40.8123,-91.2844,40.7783,-91.2494,2.92,50,1,1,1
71038,2023,6,24,2023-06-24,14:18:00,3,MN,-1,0,0,...,0.0,46.9738,-96.0945,46.9993,-96.0928,1.77,20,1,1,1
71039,2023,6,24,2023-06-24,14:18:00,3,MN,-1,0,0,...,0.0,46.9738,-96.0945,46.9993,-96.0928,1.77,20,1,1,1

In [75]:
df.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=False)

In [76]:
df.duplicated().sum()

np.int64(0)

In [77]:
'''
Save to CSV file for further analysis
Note: I chose this name for the output file to avoid overwriting the original file and to not be
located near the original file in the same directory.
'''
# Uncomment the following line to save the updated DataFrame to a time stamped CSV file
# output_file_path = "tornado-data-columns-removed-" + timestamp + ".csv"

# Uncomment the following line to save the updated DataFrame to a CSV file without timestamp
output_file_path = "tornado-data-cleaned.csv"

# mode set to 'w' to overwrite the file if it exists
df.to_csv(output_file_path, index=False, mode='w')

# Uncomment the following line to print the confirmation message
#print(f"Columns renamed and saved to {output_file_path}")